  

  <div class="trafficLight" >
    <span class="red" [ngClass]="{'checked': lights.isRed}"></span>
    <span class="yellow" [ngClass]="{'checked': lights.isYellow}"></span>
    <span class="green" [ngClass]="{'checked': lights.isGreen}"></span>
  </div>