.crossroad{display: grid;}
.road{display:inline-block;
align-items: center;
justify-content: center;
align-content: center;
vertical-align: middle;}
.first-traffic-light{width:300px;float: left;}
.second-traffic-light{width:500px;float: left;}
.first-traffic-light-h{margin-left: 100px;}
.second-traffic-light-h{margin-left: 100px;}
.button{  margin: 0;
    position: absolute;
    top: 20%;
    left:10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);}