
<div class="crossroad">
  <app-traffic-light-horizontal class="first-traffic-light-h"></app-traffic-light-horizontal>
  <div class="road">
    <app-traffic-light class="first-traffic-light"></app-traffic-light>
    <button class="button" >Авария</button>
    <app-traffic-light class="second-traffic-light"></app-traffic-light>
  </div>
  <app-traffic-light-horizontal class="second-traffic-light-h"></app-traffic-light-horizontal>

</div>
