
.trafficLight {
  background-color: black;
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-radius: 10px;
}
.trafficLight span {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: gray;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.red {
  background-color: darken(red,15%);
  &.checked {
      animation: blink1 5s step-end infinite;
  }
}

.yellow {
  background-color: darken(yellow,15%);
  &.checked {
      animation: blink2 2s step-end infinite;
    
  }
}

.green {
  background-color: darken(green,15%);
   &.checked {
      animation: blink3 5s step-end infinite;
  }
}
@keyframes blink1 {
  0% {
    background-color: red;
    box-shadow: 0 0 6em lighten(red,10%);
  }
  
}

@keyframes blink2 {
  0% {
    background-color: yellow;
    box-shadow: 0 0 6em lighten(yellow,10%);
  }

}

@keyframes blink3 {
  0% {
    background-color:green;
    box-shadow: 0 0 6em lighten(green,10%);
  }
  
  100% {
    background-color: darken(green,15%);
    box-shadow: 0 0 0em transparent;
  }
  
}